/* Navigation bar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  position: sticky;
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  position: sticky;
  font-family: 'Montserrat';
}

nav ul li a {
  text-decoration: solid;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.nav a:hover {
  color: rgb(191, 191, 191);
}

/* Log out Button */
.logout-button{
  background-color: #ffde59;
  color: #131212;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 500;
  margin-right: 25px;
  border: 2px solid transparent;
}

.logout-button:hover{
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select, button {
  padding: 10px;
  font-size: 16px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.movie-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  pointer-events: auto;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card h4 {
  margin: 10px 0 5px;
}

.movie-card button {
  padding: 5px 10px;
  margin-top: 5px;
  background: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}