/* Navigation bar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  position: sticky;
  background-color: #181818;
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: #ffde59;
  cursor: pointer;
  text-decoration: none;
  position: sticky;
  font-family: 'Montserrat';
}

nav ul li a {
  text-decoration: solid;
  cursor: pointer;
  color: #ffde59;
}

.nav a:hover {
  color:rgb(255, 255, 255);
}

/* Logo Button */
.nav img{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

/* Log out Button */
.logout-button{
  background-color: #ffde59;
  color: #131212;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-right: 25px;
  border: 2px solid transparent;
}

.logout-button:hover{
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* The image used as background*/
body {
  background-image: url("bg1.png");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h2{
    text-align: center;
    font-family: 'Montserrat';
    color: #ffde59;
    font-weight: 400;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.movie-container {
      max-width: 1000px;
      margin: 20px auto;
      padding: 10px;
      background-color: #222;
      border-radius: 8px;
      align-items: center;
    }

    .movie-card {
      display: flex;
      gap: 30px;
      padding: 20px;
    }

    .poster img {
      width: 200px;
      height: auto;
      border-radius: 8px;
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #ffffff;
      font-family: 'Montserrat';
      line-height: 25px;
    }

    .movie-info h2 {
      margin-top: 0;
    }

    .movie-info p {
      margin: 4px 0;
    }

    .overview {
      background-color: #1b1b1b;
      margin-top: 20px;
      padding: 15px;
      border-radius: 8px;
      color: #ffffff;
      font-family: 'Montserrat';
      line-height: 30px;
    }

    .overview h3 {
      margin-top: 0;
      border-bottom: 1px solid #ffde59;
      padding-bottom: 15px;
      font-family: 'Montserrat';
      text-align: center;
    }

    iframe {
      width: 90%;
      height: 400px;
      margin-top: 20px;
      border-radius: 8px;
      display: block;
      margin: 20px auto;
    }

    .watch-button {
        background-color: #ffde59;
        color: #131212;
        font-size: 16px;
        padding: 14px 20px;
        border-radius: 4px;
        border: none;
        align-self: center;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 500;
        display: block;
        margin: 20px auto;
        border: 2px solid transparent;
    }

    .watch-button:hover{
    color: #ffde59;
    background-color: #131212;
    cursor: pointer;
    border: 2px solid #ffde59; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Footer styling */
.footer {
  background: #ffde59;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

/* Footer */
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color:#181818;
  font-size: 0.8em;
  font-family: 'Montserrat';
}

.footer .row a {
  text-decoration: none;
  color: #181818;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #bababa;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2em;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}