/* CSS for signup page */
* {
  box-sizing: border-box;
}

body,html {
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Montserrat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  flex-wrap: wrap; 
}

.background img{
   width: 500px;
   height: 440px;
}

.signup-box {
  background-color: #1c1c1c;
  color: white;
  width: 360px;
  padding: 40px;
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
}

.signup-box label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 12px;
  margin-top: 15px;
}

.signup-box input {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
}

.signup-box button {
  width: 96%;
  padding: 10px;
  background-color: #ffde59;
  color: #131212;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.signup-box button:hover{
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

.signup-box .login {
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.signup-box .login a {
  color: #ffde59;
  text-decoration: none;
}

.signup-box .login a:hover {
    color: #ccc;
    text-decoration: underline;
}

/* Mobile-specific (≤ 480px) */
@media screen and (max-width: 480px) {

  .signup-box {
    width: 100%;
    max-width: 360px;
    border-radius: 4%;
  }

  .container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap; 
}

  .background{
    display: none;
  }
}

/* Media query from 481px to 1024px */
@media (min-width: 481px) and (max-width: 1024px) {
  .background {
    display: none;
  }

  .container {
    justify-content: center;
  }

  .signup-box {
    width: 100%;
    max-width: 360px;
    border-radius: 4%;
  }
}

/* Media query for above 1024px */
/* Original CSS is effective here */
@media screen and (min-width: 1025px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}
