/* CSS for upcoming page */
* {
  box-sizing: border-box;
}

/* Navigation bar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  position: sticky;
  background-color: #181818;
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: #ffde59;
  cursor: pointer;
  text-decoration: none;
  position: sticky;
  font-family: 'Montserrat';
}

nav ul li a {
  text-decoration: solid;
  cursor: pointer;
  color: #ffde59;
}

.nav a:hover {
  color: rgb(255, 255, 255);
}

/* Logo Button */
.nav img {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

/* Log out Button */
.logout-button {
  background-color: #ffde59;
  color: #131212;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-right: 25px;
  border: 2px solid transparent;
}

.logout-button:hover {
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hamburger{
  display: none;
}

.image-container {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}

.image-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  color: #ffde59;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px 20px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat';
  color: #ffde59;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-text {
  text-align: center;
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}

/* The image used as background*/
body {
  background-image: url("bg1.png");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}


.movie-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.movie-card {
  background-color: #181818;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 15px;
  width: 250px;
  border: 1px solid #ffde59;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.watchlist-btn {
  background-color: #ffde59;
  color: #131212;
  margin-top: 10px;
  padding: 5px 10px;
  font-weight: 500;
}

.watchlist-btn:hover {
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59;
}


/* Footer styling */
.footer {
  background: #ffde59;
  padding: 30px 0px;
  text-align: center;
}

/* Footer */
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #181818;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Montserrat';
}

.footer .row a {
  text-decoration: none;
  color: #181818;
  font-weight: 500;
  transition: 0.5s;
}

.footer .row a:hover {
  border-bottom: 3px solid black; 
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2em;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}


.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px #ffde59;
}

/* Media query up to 480px */
@media screen and (max-width: 480px) {

.nav {
    width: 100%;
    background-color: #131212;
    border-bottom: 1px solid #ffde59;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .nav img {
    width: 80px;
    height: auto;
    margin: 0;
  }

  .hamburger {
    font-size: 30px;
    color:#ffde59;
    cursor: pointer;
    display: block;
    padding: 10px;
  }

  .nav-links,
  .logout-button {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    background-color: #131212;
    padding: 0 8px;
  }

  .nav.show .nav-links,
  .nav.show .logout-button {
    display: flex;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    font-size: 15px;
    padding: 8px 0;
    display: block;
    width: 100%;
    color:#ffde59;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }

  .logout-button {
    margin: 20px 20px;
    padding: 10px;
    width: 100%;
    background-color: #ffde59;
    color: #131212;
    border: none;
    border-radius: 5px;
  }

  .logout-button:hover {
  color: #ffde59;
  background-color: #131212;
  cursor: pointer;
  border: 2px solid #ffde59;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.img {
    background-image: url('mobbg.png');
    height: 300px; 
    background-size: contain; 
  }

  .image-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  color: #ffde59;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px 20px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat';
  color: #ffde59;
  font-weight: 400;
  font-size: 25px;
  padding: 5%;
}

.info-text{
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding: 20px;
}

/* Footer CSS to make them appear in a single cloumn */
.row ul {
  display: grid;
  grid-row: 1;
  grid-template-columns: 100%; 
  padding: 0; 
  margin-top: 4%;
  margin-bottom: 6%;
}

.row ul li {
  text-align: center;
  margin: 0;
  padding-bottom: 5%;
}

.row ul li a{
  font-size: 16px;
}

.row p{
  font-size: 8px;
  text-align: center; 
  margin: 5%;
}
}

/* Media query from 481px to 1024px */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    max-width: 100%;
    margin: 0;
}

.bg{
  max-width: 100%;
}

/* CSS for logo to move it above navigation bar 
and nav bar is horizontally placed in a single row */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.nav img {
  margin-right: 30px;
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin-right: 2px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffde59;
}

.logout-button{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 45px;
}

/* Footer CSS to make them appear in a single cloumn */
.row ul {
  justify-content: center;
  display: flex;
  flex-direction: row; 
  padding: 0; 
}

.row ul li {
  text-align: center; 
  margin: 10px 0; 
}

.row ul li a{
  font-size: 16px;
}

.row p{
  /* font-size: 14px; */
  text-align: center; 
  margin: 10px;
}

.row a i{
  font-size: 2em;
  margin: 0% 1%;
}
}

/* Media query for above 1024px */
/* Original CSS is effective here */
@media screen and (min-width: 1025px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}